@charset "UTF-8";

/*
    paleta de cor:

    verde:#49a09d
    lilas:#5f2c82
*/

*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(252, 144, 4));
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow:hidden;

    position:fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50% , -50%);
}

section#login > div#imagem {
    background: red url(../imagens/pexels-pixabay-60893.jpg) no-repeat;
    height: 300px;
    background-size: cover ;
    display: block;
    background-position:  bottom;
    
}

section#login > div#formulario {
    padding: 10px;
    display: block;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: yellow;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px opx;
    border: 2px solid yellow;
}

div.campo > label {
display: none;
}

div.campo > i {
    color: white;
   
    font-size: 2em;
    width: 40px;
    padding: 40px;

}

div.campo >input {
    background-color: rgb(88, 67, 161);
    font-size: 1em;
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    width: calc(100%-44px);
    transform: translateY(-12px);

}

div.campo >input:focus-within {
    background-color: white;
    border: none;
}



form > input[type=submit] {
    display: block;
    font-size: 1.em;
    width: 100%;
    height: 40px;
    background-color: rgb(4, 136, 141);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgb(0, 71, 71);
}

form >.a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    width: 100%;
    height: 40px;
    background-color: rgb(62, 228, 228);
    border: 1px solid red;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: yellow;
}

form > a.botao > i {
    font-size: 0.8em;
}